.company-profile-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 10px;
  dt {
    background-color: lightgrey;
    height: 100%;
    padding: 10px;
  }
  dd {
    padding: 10px;
  }
}
