.bottom_border {
  text-align: center;
  position: relative;
  margin-bottom: 1em;
}

.bottom_border:before {
  content: ' ';
  position: absolute;
  left: 50%;
  bottom: -15%;
  width: 30px;
  height: 2px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #000;
  border-radius: 1px;
}

.bottom_border {
  text-align: center;
  position: relative;
  margin-bottom: 1em;
}

.bottom_border:before {
  content: ' ';
  position: absolute;
  left: 50%;
  bottom: -15%;
  width: 30px;
  height: 2px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #000;
  border-radius: 1px;
}

.page-title1 {
  text-align: center;
  font-weight: bold;
  font-size: clamp(2rem, 3vw, 3rem);
  margin: 30px auto;
  position: relative;
  line-height: 1.4;
  top: 0;
  width: 250px;
}

.page-title1:before, .page-title1:after {
  position: absolute;
  top: 0;
  content: '';
  width: 8px;
  height: 100%;
  display: inline-block;
}

.page-title1:before {
  border-left: solid 2px #333;
  border-top: solid 2px #333;
  border-bottom: solid 2px #333;
  left: 0;
}

.page-title1:after {
  content: '';
  border-top: solid 2px #333;
  border-right: solid 2px #333;
  border-bottom: solid 2px #333;
  right: 0;
}

.polite {
  font-size: clamp(2rem, 3.5vw, 3.5rem);
}

.memory-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-top: 30px;
}

.memory-grid p {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.memory-text {
  font-size: clamp(1.6rem, 3vw, 2.5rem);
}

.trouble-wrapper {
  background: lightgray;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 30px;
}

.trouble-ttl {
  font-size: clamp(2rem, 3vw, 3rem);
}

.voice {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: orange;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #fff;
  font-size: 2rem;
}

.voice-grid {
  margin: 30px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100px 100px 1fr 100px 1fr;
      grid-template-columns: 100px 100px 1fr 100px 1fr;
  gap: 20px;
}

@media screen and (max-width: 768px) {
  .voice-grid {
    -ms-grid-columns: 100px 100px 1fr;
        grid-template-columns: 100px 100px 1fr;
    gap: 0;
  }
}

@media screen and (max-width: 480px) {
  .voice-grid {
    -ms-grid-columns: 80px 80px 1fr;
        grid-template-columns: 80px 80px 1fr;
    gap: 0;
  }
}

.balloon1-left {
  position: relative;
  display: inline-block;
  margin: 1.5em 0 1.5em 15px;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: #e0edff;
  border-radius: 15px;
}

.balloon1-left:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  margin-top: -15px;
  border: 15px solid transparent;
  border-right: 15px solid #e0edff;
}

.sp-space-grid {
  display: none;
}

@media screen and (max-width: 768px) {
  .sp-space-grid {
    display: block;
  }
}

.page-title6 {
  text-align: center;
  font-weight: bold;
  font-size: clamp(2rem, 3vw, 3rem);
  margin: 30px auto;
  position: relative;
  line-height: 1.4;
  top: 0;
  width: 300px;
}

.page-title6:before, .page-title6:after {
  position: absolute;
  top: 0;
  content: '';
  width: 8px;
  height: 100%;
  display: inline-block;
}

.page-title6:before {
  border-left: solid 2px #333;
  border-top: solid 2px #333;
  border-bottom: solid 2px #333;
  left: 0;
}

.page-title6:after {
  content: '';
  border-top: solid 2px #333;
  border-right: solid 2px #333;
  border-bottom: solid 2px #333;
  right: 0;
}

.qa-bg-blue {
  background-color: #77c9d4;
  padding: 10px 12px;
  border-radius: 999px;
  color: #fff;
}

.qa-wrapper {
  line-height: 2.5;
  gap: 30px;
}

.qa-wrapper dd {
  margin-bottom: 30px;
  line-height: 1.8;
}

.q-text {
  color: #12b3c9;
  font-size: 2rem;
  font-size: clamp(1.8rem, 2.5vw, 2.2rem);
  padding-left: 50px;
  position: relative;
  line-height: 1.5;
  margin-bottom: 15px;
}

.q-text::before {
  background-color: #77c9d4;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  content: 'Q';
  display: inline-block;
  width: 40px;
  height: 40px;
  color: #fff;
  text-align: center;
  line-height: 40px;
  border-radius: 999px;
  font-weight: bold;
  font-size: 1.8rem;
}

.a-text {
  color: #0dbf72;
  font-size: clamp(1.6rem, 2vw, 1.8rem);
  position: relative;
  padding-left: 50px;
  margin-bottom: 40px;
}

.a-text::before {
  position: absolute;
  top: 0;
  left: 0;
  content: 'A';
  display: inline-block;
  background-color: #57bc90;
  border-radius: 999px;
  width: 40px;
  height: 40px;
  color: #fff;
  text-align: center;
  line-height: 40px;
  font-weight: bold;
  font-size: 1.8rem;
}

.sales-area {
  text-align: center;
  font-weight: bold;
  color: orange;
  border: 2px solid orange;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: clamp(1.8rem, 3vw, 2.2rem);
}

.sales-area-grid {
  margin: 30px 0;
  display: -ms-grid;
  display: grid;
  grid-template: 'map main' 'map other' 'map city' /180px 1fr;
  gap: 20px;
}

@media screen and (max-width: 480px) {
  .sales-area-grid {
    grid-template: 'map main' 'map other' 'city city' /120px 1fr;
    gap: 10px;
  }
}

.map {
  grid-area: map;
}

.main-area {
  grid-area: main;
  font-weight: bold;
  font-size: clamp(2rem, 3vw, 3rem);
}

.other-area {
  grid-area: other;
  font-size: clamp(1.8rem, 2.5vw, 2.4rem);
  margin-top: 30px;
}

.city-area {
  grid-area: city;
  padding: 30px 0;
}

.bottom_border {
  text-align: center;
  position: relative;
  margin-bottom: 1em;
}

.bottom_border:before {
  content: ' ';
  position: absolute;
  left: 50%;
  bottom: -15%;
  width: 30px;
  height: 2px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #000;
  border-radius: 1px;
}

.page-title2 {
  text-align: center;
  font-weight: bold;
  font-size: clamp(2rem, 3vw, 3rem);
  margin: 30px auto;
  position: relative;
  line-height: 1.4;
  top: 0;
  width: 360px;
}

.page-title2:before, .page-title2:after {
  position: absolute;
  top: 0;
  content: '';
  width: 8px;
  height: 100%;
  display: inline-block;
}

.page-title2:before {
  border-left: solid 2px #333;
  border-top: solid 2px #333;
  border-bottom: solid 2px #333;
  left: 0;
}

.page-title2:after {
  content: '';
  border-top: solid 2px #333;
  border-right: solid 2px #333;
  border-bottom: solid 2px #333;
  right: 0;
}

.merit {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background: orange;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
}

.merit-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100px 1fr;
      grid-template-columns: 100px 1fr;
  gap: 20px;
  margin: 20px 0;
}

.merit-grid .merit-desc {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.no-trouble {
  text-align: center;
  font-size: clamp(2rem, 3vw, 3rem);
  font-weight: bold;
  margin-top: 30px;
}

.page-title5 {
  text-align: center;
  font-weight: bold;
  font-size: clamp(2rem, 3vw, 3rem);
  margin: 30px auto;
  position: relative;
  line-height: 1.4;
  top: 0;
  width: 300px;
}

.page-title5:before, .page-title5:after {
  position: absolute;
  top: 0;
  content: '';
  width: 8px;
  height: 100%;
  display: inline-block;
}

.page-title5:before {
  border-left: solid 2px #333;
  border-top: solid 2px #333;
  border-bottom: solid 2px #333;
  left: 0;
}

.page-title5:after {
  content: '';
  border-top: solid 2px #333;
  border-right: solid 2px #333;
  border-bottom: solid 2px #333;
  right: 0;
}

.adv-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.reform-txt {
  margin: 30px 0;
}

.bottom_border {
  text-align: center;
  position: relative;
  margin-bottom: 1em;
}

.bottom_border:before {
  content: ' ';
  position: absolute;
  left: 50%;
  bottom: -15%;
  width: 30px;
  height: 2px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #000;
  border-radius: 1px;
}

.page-title3 {
  text-align: center;
  font-weight: bold;
  font-size: clamp(2rem, 3vw, 3rem);
  margin: 30px auto;
  position: relative;
  line-height: 1.4;
  top: 0;
  width: 340px;
}

.page-title3:before, .page-title3:after {
  position: absolute;
  top: 0;
  content: '';
  width: 8px;
  height: 100%;
  display: inline-block;
}

.page-title3:before {
  border-left: solid 2px #333;
  border-top: solid 2px #333;
  border-bottom: solid 2px #333;
  left: 0;
}

.page-title3:after {
  content: '';
  border-top: solid 2px #333;
  border-right: solid 2px #333;
  border-bottom: solid 2px #333;
  right: 0;
}

.furniture-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin: 30px 0;
}

@media screen and (max-width: 768px) {
  .furniture-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

p[class^='furniture-grid-bg-'] {
  padding: 3.2vh;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  font-size: 1.8rem;
}

.furniture-grid-bg-blue {
  background: #77c9d4;
}

.furniture-grid-bg-green {
  background: #57bc90;
}

.furniture-grid-bg-yellow {
  background: #f7c331;
}

.furniture-grid-bg-orange {
  background: #f7882f;
}

.furniture-desc {
  padding-bottom: 30px;
}

.furniture-grid-txt {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .furniture-grid-txt p {
    margin-bottom: 10px;
  }
}

.page-title4 {
  text-align: center;
  font-weight: bold;
  font-size: clamp(2rem, 3vw, 3rem);
  margin: 30px auto;
  position: relative;
  line-height: 1.4;
  top: 0;
  width: 360px;
}

.page-title4:before, .page-title4:after {
  position: absolute;
  top: 0;
  content: '';
  width: 8px;
  height: 100%;
  display: inline-block;
}

.page-title4:before {
  border-left: solid 2px #333;
  border-top: solid 2px #333;
  border-bottom: solid 2px #333;
  left: 0;
}

.page-title4:after {
  content: '';
  border-top: solid 2px #333;
  border-right: solid 2px #333;
  border-bottom: solid 2px #333;
  right: 0;
}

.cleaning-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin: 30px 0;
}

.house-cleaning-desc {
  margin-bottom: 30px;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  letter-spacing: 0.05em;
  line-height: 1.6;
}

img {
  width: 100%;
  vertical-align: bottom;
}

a {
  display: inline-block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none;
  color: #333;
}

a:hover {
  opacity: 0.7;
  cursor: pointer;
}

section {
  padding-top: 5vh;
}

.sp-br {
  display: none;
}

@media screen and (max-width: 480px) {
  .sp-br {
    display: block;
  }
}

.tablet-br {
  display: none;
}

@media screen and (max-width: 768px) {
  .tablet-br {
    display: block;
  }
}

.container {
  max-width: 900px;
  width: 90%;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  a[href^='tel:'] {
    pointer-events: none;
  }
}

.tel {
  font-size: clamp(2rem, 10vw, 3.6rem);
  color: red;
  text-shadow: 1px 3px 0 #000;
  font-weight: bold;
}

.header-grid {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-template: 'logo  c-name ... time time' 30px 'logo c-name ... icon tel' 40px / 80px 250px  1fr   50px 300px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.header-grid .logo {
  grid-area: logo;
}

.header-grid .company-name {
  grid-area: c-name;
}

.header-grid .available-time {
  grid-area: time;
}

.header-grid .free {
  grid-area: icon;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header-grid .tel {
  grid-area: tel;
  font-size: clamp(3.5rem, 6vw, 4rem);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 0 10px;
}

@media screen and (max-width: 768px) {
  .header-grid {
    margin-top: 20px;
    grid-template: 'logo  c-name' 10px 'logo c-name ' 20px 'time time   ' 30px 'icon tel    ' 30px/ 60px  auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.nav {
  background: #3f87df;
}

.nav-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  padding: 10px 0;
  margin-top: 10px;
}

.nav-grid li a {
  background-color: #fff;
  border-radius: 10px;
  height: 100%;
  width: 100%;
  text-align: center;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  color: #3f87df;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .nav-grid li a {
    padding: 5px;
  }
}

.hero-container {
  position: relative;
}

@media screen and (max-width: 768px) {
  .hero-container {
    width: 100%;
  }
}

.corona-grid {
  max-width: 600px;
  width: 100%;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: max-content (1fr)[4];
      grid-template-columns: -webkit-max-content repeat(4, 1fr);
      grid-template-columns: max-content repeat(4, 1fr);
  gap: 5px;
  font-size: 1.3rem;
  background: rgba(255, 255, 255, 0.742);
  position: absolute;
  bottom: 10px;
  right: 0;
  left: 0;
  border-radius: 5px;
  width: 100%;
  padding: 2px 10px;
}

@media screen and (max-width: 768px) {
  .corona-grid {
    bottom: 0px;
  }
}

.corona-grid .corona-text {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.corona-grid .corona-border {
  border-radius: 3px;
  border: 2px solid #333;
  padding: 2px 5px;
  display: -ms-grid;
  display: grid;
  text-align: center;
}

.corona-grid .corona-border img {
  margin: 0 auto;
  width: 85%;
}

.corona-grid .colona-action {
  line-height: 1;
}

.project6 {
  text-align: center;
  font-weight: bold;
  font-size: clamp(1.6rem, 3vw, 2.6rem);
}

.project6-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  gap: 5px;
  font-size: clamp(1.6rem, 3vw, 2.2rem);
}

.project6-grid li {
  border-radius: 5px;
  background: #ffb76b;
  background: -webkit-gradient(linear, right top, left bottom, from(#ffb76b), color-stop(30%, #ffa73d), color-stop(60%, #ff7c00), to(#ff7f04));
  background: linear-gradient(to bottom left, #ffb76b 0%, #ffa73d 30%, #ff7c00 60%, #ff7f04 100%);
  color: #fff;
  text-align: center;
  height: 100%;
  display: -ms-grid;
  display: grid;
  padding: 5px;
}

.project6-list-s {
  font-size: 80%;
  text-shadow: 0 1px 3px #ff7c00;
}

.project6-list-l {
  text-shadow: 0 1px 3px #a13f04;
}

.budget {
  color: red;
  font-weight: bold;
  font-size: 130%;
  text-shadow: 1px 1px 2px gray;
}

.text-center {
  text-align: center;
  font-weight: bold;
  font-size: clamp(1.6rem, 3vw, 2.2rem);
}

.writing-mode {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  margin: 10px auto;
  position: relative;
  font-size: clamp(1.8rem, 3vw, 2.2rem);
}

@media screen and (max-width: 480px) {
  .writing-mode {
    margin: 0 auto;
  }
}

.writing-mode p {
  border: 2px solid #3f87df;
  padding: 5px;
  margin: 10px;
  border-radius: 10px;
  color: #3f87df;
  text-shadow: 0 0 1px #3f87df;
}

.writing-mode .contact-action {
  position: absolute;
  left: -35%;
  top: -5px;
  width: 130px;
}

@media screen and (max-width: 480px) {
  .writing-mode .contact-action {
    display: none;
  }
}

.writing-mode .speedy {
  position: absolute;
  right: -45%;
  bottom: -20px;
  width: 140px;
}

@media screen and (max-width: 480px) {
  .writing-mode .speedy {
    display: none;
  }
}

.arrow {
  margin-top: 45px;
  width: 0;
  height: 0;
  border-style: solid;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid red;
}

.bg-blue {
  background-color: #3f87df;
  padding-bottom: 5vh;
}

.price-system {
  text-align: center;
  color: #fff;
}

.price-grid {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 1fr (max-content)[5];
      grid-template-columns: 1fr repeat(5, -webkit-max-content);
      grid-template-columns: 1fr repeat(5, max-content);
  font-size: clamp(1.5rem, 3vw, 2.2rem);
  margin: 0 auto 20px;
  max-width: 750px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (max-width: 480px) {
  .price-grid {
    -ms-grid-columns: 100px (max-content)[5];
        grid-template-columns: 100px repeat(5, -webkit-max-content);
        grid-template-columns: 100px repeat(5, max-content);
  }
}

.price-detail {
  background-color: #fff;
  padding: 10px 5px;
  height: 100%;
  margin: 5px 2px;
  border-radius: 10px;
  text-align: center;
  color: red;
  font-weight: bold;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 6px #fff;
          box-shadow: 0 0 6px #fff;
  border: 2px solid skyblue;
}

@media (min-width: 768px) {
  .price-detail {
    padding: 10px 20px;
  }
}

.impossible {
  display: -ms-grid;
  display: grid;
  gap: 30px;
  -ms-grid-columns: 150px 1fr;
      grid-template-columns: 150px 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: radial-gradient(800px, #eee, #85b8);
  margin: 10px 0;
  padding: 10px 30px;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .impossible {
    padding: 10px 5px;
    -ms-grid-columns: 100px 1fr;
        grid-template-columns: 100px 1fr;
    gap: 0;
  }
}

.bg-cream {
  background-color: #fff798;
  padding-bottom: 5vh;
}

.flow-grid {
  display: -ms-grid;
  display: grid;
  grid-template: 'flow    flow  sales auction' 'working ...   sales auction' 'working arrow overseas reuse' 'working ...   overseas reuse';
  -ms-grid-columns: minmax(50%, 1fr) minmax(10px, 0.1fr) auto auto;
      grid-template-columns: minmax(50%, 1fr) minmax(10px, 0.1fr) auto auto;
  gap: 5px;
}

.flow-grid .flow {
  grid-area: flow;
  color: red;
  font-weight: bold;
  font-size: clamp(1.6rem, 3vw, 3rem);
}

.flow-grid .working-img {
  grid-area: working;
  position: relative;
  max-height: 280px;
  -o-object-fit: cover;
     object-fit: cover;
}

.flow-grid .working-img .working {
  position: absolute;
  right: 7%;
  top: 3%;
  font-weight: bold;
}

.flow-grid .working-img img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.flow-grid .reuse-arrow {
  grid-area: arrow;
  width: 0;
  height: 0;
  border-style: solid;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 30px solid red;
}

@media screen and (max-width: 768px) {
  .flow-grid .reuse-arrow {
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid red;
  }
}

.flow-grid .sales {
  grid-area: sales;
  text-align: center;
  font-weight: bold;
  font-size: clamp(1.4rem, 2vw, 1.6rem);
  display: -ms-grid;
  display: grid;
}

.flow-grid .sales img {
  background-color: #fff;
  border-radius: 9999px;
  padding: 8px;
}

@media screen and (max-width: 480px) {
  .flow-grid .sales img {
    padding: 0;
  }
}

.flow-grid .auction {
  grid-area: auction;
  text-align: center;
  font-weight: bold;
  font-size: clamp(1.4rem, 2vw, 1.6rem);
  display: -ms-grid;
  display: grid;
}

.flow-grid .auction img {
  background-color: #fff;
  border-radius: 9999px;
  padding: 8px;
}

@media screen and (max-width: 480px) {
  .flow-grid .auction img {
    padding: 0;
  }
}

.flow-grid .overseas {
  grid-area: overseas;
  text-align: center;
  font-weight: bold;
  font-size: clamp(1.4rem, 2vw, 1.6rem);
  display: -ms-grid;
  display: grid;
}

.flow-grid .overseas img {
  background-color: #fff;
  border-radius: 9999px;
  padding: 8px;
}

@media screen and (max-width: 480px) {
  .flow-grid .overseas img {
    padding: 0;
  }
}

.flow-grid .reuse {
  grid-area: reuse;
  text-align: center;
  font-weight: bold;
  font-size: clamp(1.4rem, 2vw, 1.6rem);
  display: -ms-grid;
  display: grid;
}

.flow-grid .reuse img {
  background-color: #fff;
  border-radius: 9999px;
  padding: 8px;
  max-height: 133px;
}

@media screen and (max-width: 480px) {
  .flow-grid .reuse img {
    padding: 0;
  }
}

.nav-list {
  margin-bottom: 20px;
  font-size: clamp(1.6rem, 3vw, 2.2rem);
}

.nav-list li {
  background: skyblue;
  padding: 10px 0;
  margin: 5px 0;
  text-shadow: 5px 3px 6px rgba(0, 0, 0, 0.6);
  background: -webkit-gradient(linear, left top, left bottom, from(#75cdff), color-stop(50%, #3f87df), color-stop(50%, #3f87df), to(#75cdff));
  background: linear-gradient(to bottom, #75cdff 0%, #3f87df 50%, #3f87df 50%, #75cdff 100%);
  -webkit-box-shadow: 0px 1px 3px;
          box-shadow: 0px 1px 3px;
}

.nav-list li a {
  color: #fff;
}

.tel-contact,
.mail-contact {
  max-width: 600px;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  font-size: clamp(1.6rem, 3.5vw, 2.4rem);
}

.tel-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 1;
  text-decoration: none;
  color: #ffffff;
  border-radius: 0px;
  height: 80px;
  font-weight: bold;
  border: 4px double #ffffff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #1bb0ee;
  border-radius: 20px;
  margin-bottom: 20px;
  position: relative;
}

.tel-contact::before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: "\f2a0";
  position: absolute;
  left: 10%;
}

@media screen and (max-width: 480px) {
  .tel-contact::before {
    left: 5%;
  }
}

.tel-contact::after {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: "\f138";
  position: absolute;
  right: 10%;
}

@media screen and (max-width: 480px) {
  .tel-contact::after {
    right: 5%;
  }
}

.mail-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 1;
  text-decoration: none;
  color: #ffffff;
  border-radius: 10px;
  height: 80px;
  font-weight: bold;
  border: 4px double #ffffff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #8cce11;
  border-radius: 20px;
  position: relative;
}

.mail-contact::before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: "\f2b6";
  position: absolute;
  left: 10%;
}

@media screen and (max-width: 480px) {
  .mail-contact::before {
    left: 5%;
  }
}

.mail-contact::after {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: "\f138";
  position: absolute;
  right: 10%;
}

@media screen and (max-width: 480px) {
  .mail-contact::after {
    right: 5%;
  }
}

.credit-grid {
  display: -ms-grid;
  display: grid;
  grid-template: 'ttl  ttl  ttl  ttl  ttl  ttl  ttl  ttl' 'img1 img2 img3 img4 img5 img6 img7 paypay' 90px 'txt1 txt2 txt3 txt4 txt5 txt6 txt7 paypay' 'ok   ok   ok   ok   ok   ok   ok   use' / 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  border: 2px solid red;
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .credit-grid {
    grid-template: 'ttl  ttl  ttl  ttl ttl' 'img1 img2 img3 img4 paypay' 90px 'txt1 txt2 txt3 txt4 paypay' 'img5 img6 img7 ...  paypay' 90px 'txt5 txt6 txt7 ...  paypay' 'ok   ok   ok   ok  use' / 1fr 1fr 1fr 1fr 1fr;
  }
}

.credit-grid img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0 auto;
  width: 60%;
}

@media screen and (max-width: 480px) {
  .credit-grid img {
    width: 100%;
    padding: 10px;
  }
}

.credit-grid div {
  text-align: center;
}

.credit-ttl {
  grid-area: ttl;
  text-align: center;
  background: red;
  color: #ffffff;
  padding: 10px;
  font-weight: bold;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 1.8rem;
}

.paypay-img {
  grid-area: paypay;
  border-left: 2px solid red;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.paypay {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid;
  grid-area: use;
  padding: 5px;
  text-align: center;
  border-left: 2px solid red;
  background: yellow;
  font-weight: bold;
}

.visa-img {
  grid-area: img1;
}

.visa {
  grid-area: txt1;
}

.master-img {
  grid-area: img2;
}

.master {
  grid-area: txt2;
}

.jcb-img {
  grid-area: img3;
}

.jcb {
  grid-area: txt3;
}

.express-img {
  grid-area: img4;
}

.express {
  grid-area: txt4;
  line-height: 1;
}

.orico-img {
  grid-area: img5;
}

.orico {
  grid-area: txt5;
}

.diners-img {
  grid-area: img6;
}

.diners {
  grid-area: txt6;
  line-height: 1;
}

.rakuten-img {
  grid-area: img7;
}

.rakuten {
  grid-area: txt7;
}

.ok {
  grid-area: ok;
  text-align: center;
  background: yellow;
  font-weight: bold;
  font-size: 2rem;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin: 10px 0;
}

.footer-grid li a {
  padding: 5px;
  text-align: center;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 1;
  text-decoration: none;
  color: #09a832;
  font-size: 18px;
  border-radius: 20px;
  height: 42px;
  font-weight: bold;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.25);
  text-shadow: 1px 1px 2px white;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#b0f8dd), to(#68f478));
  background-image: linear-gradient(180deg, #b0f8dd, #68f478);
}

@media screen and (max-width: 768px) {
  .footer-grid .contact-btn {
    font-size: 90%;
  }
}

.mt-7vh {
  margin-top: 7ch;
}
/*# sourceMappingURL=style.css.map */